@font-face {
  font-family: "Main Bold";
  src: url(../../assets/fonts/TheJamsilBold.ttf) format("truetype");
}

@font-face {
  font-family: "Main Regular";
  src: url(../../assets/fonts/TheJamsilRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Main Thin";
  src: url(../../assets/fonts/TheJamsilThin.ttf) format("truetype");
}
